<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <center>
      <font size="14px"><i class="fa fa-trash"></i></font><br>
      <font size="5px"> {{ .Site.Title }}</font>
      </center>
      <br>
    </div>

    <ul class="sidebar-nav">
      {{ range .Site.Menus.main }}
      <li><a href="{{.URL}}">{{ .Name }}</a></li>
      {{end}}
    </ul>

    <div class="sidebar-meta">
      <a href="https://github.com/noqqe/devnull-as-a-service"><i class="fa fa-github"></i></a>
      <a href="https://twitter.com/noqqe/"><i class="fa fa-twitter"></i></a>
      <a href="https://flattr.com/thing/2465552/devnull-as-a-service-com"><i class="fa fa-heart"></i></a>
      <a href="https://news.ycombinator.com/user?id=noqqe"><i class="fa fa-hacker-news"></i></a>
      <a href="javascript:m41l('mail');"><i class="fa fa-envelope"></i></a>
      <br/>
      {{ .Site.Params.Copyright|safeHTML }}
    </div>
  </div>
</div>
