<!DOCTYPE html>
<html lang="{{ entry.lang if entry else conf.lang }}">
<head>
  {% block head -%}
  <meta charset="utf-8" />
  <title>{% block title %}{% endblock %}</title>
  <link media="all" href="{{ env.path + '/style.css' }}" rel="stylesheet" />
  <link href="/favicon.ico" rel="shortcut icon" />
    {% if 'sitemap' in env.views -%}
        <link href="{{ env.views.sitemap.path }}" type="application/xml" rel="sitemap" title="Sitemap">
    {%- endif%}
  <link href="{{ env.path + '/' }}" rel="home start" />
  <link href="http://fonts.googleapis.com/css?family=Ropa+Sans&subset=latin,latin-ext" rel="stylesheet" type="text/css"> 
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  {%- endblock %}
</head>
<body>
  <header>
  <h1><a href="{{ env.path + '/home/' }}" rel="home start" class="blogtitle"><img src="{{ env.path + '/img/devnull.png'}}"/>{{ conf.sitename }}</a></h1>
    <nav>
      <ul>
        <li><a href="{{ env.path + '/home/' }}" class="nav1" rel="home start">Home</a></li>
        <li><a href="{{ env.path + '/features/' }}" class="nav2" rel="alternate">Features</a></li>
        <li><a href="{{ env.path + '/pricing/' }}" class="nav3" rel="alternate">Pricing</a></li>
        <li><a href="{{ env.path + '/code/' }}" class="nav4" rel="contents">Code</a></li>
        <li><a href="{{ env.path + '/contact/' }}" class="nav5" rel="contents">Contact</a></li>
      </ul>
    </nav>
  </header>
  {%- block content -%}
  {%- endblock -%}
  <footer>
    {% block footer %}
    <p>powered by <a href="https://github.com/posativ/acrylamid">acrylamid</a></p>
    <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/de/" rel="copyright license">
        <img src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" alt="by-nc-sa" />
    </a>
    <!-- Piwik -->
    <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(["setCookieDomain", "*.devnull-as-a-service.com"]);
    _paq.push(["trackPageView"]);
    _paq.push(["enableLinkTracking"]);

    (function() {
        var u=(("https:" == document.location.protocol) ? "https" : "http") + "://piwik.n0q.org/";
        _paq.push(["setTrackerUrl", u+"piwik.php"]);
        _paq.push(["setSiteId", "7"]);
        var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
        g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
    })();
    </script>
    <!-- End Piwik Code -->
    {% endblock %}
  </footer>
</body>
</html>
