{% extends "base.html" %}

{% block title %}
    {%- if entry is defined -%}
      {{ entry.title }}
    {%- else -%}
      {{ conf.sitename }}
    {%- endif -%}
{% endblock %}

{% block head %}
    {{- super() }}
    {%- if entry is defined %}
    <meta name="description" content="{{ entry.description | e }}" />
    <meta name="keywords" content="{{ entry.tags | join(', ') }}" />
    {%- endif -%}
{% endblock %}

{% block content %}
    {% for entry in env.entrylist %}
        {% include 'entry.html' %}
    {% endfor %}
    {% if env.prev is not none %}
        <a href="{{ env.path ~ env.prev ~ '/' }}" class="page floatright">
        {{ env.prev.title }} &raquo;
        </a>
    {% endif %}
    {% if env.next is not none %}
        <a href="{{ env.path ~ env.next ~ '/' }}" class="page floatleft">
        &laquo; {{ env.next.title }}
        </a>
    {%- endif  %}
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}
