article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }
body {
    background-color: white;
    margin: 0 auto;
    width: 800px;
}
body > header {
    padding: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    text-align: center;
}
body > header h1 { padding-top: 1.5em }
body > header h1 a {
    color: black;
    font-size: 1.4em;
    text-decoration: none;
}
body > header h1 a:hover { text-shadow: #888888 0px 0px 1px }
body > header h1 a:visited { color: black }
body > header ul { padding: 1em }
body > header ul li {
    display: inline-block;
    margin: 0 2em 0 2em;
}
body > header ul a {
    color: black;
    text-decoration: none;
    font-family: "Ropa Sans", sans-serif;
}
body > header ul a:hover { text-shadow: #888888 0px 0px 1px }
body > article {
    padding: 1.2em;
    margin-top: 64px;
    margin-bottom: 64px;
    text-align: justify;
    font: 0.95em "Ropa Sans", sans-serif;
}
body > article > header {
    margin-left: -1.1em;
    margin-bottom: -0.7em;
}
body > article > header h1 a {
    color: black;
    font: bold medium "Ropa Sans", sans-serif;
    text-decoration: none;
}
body > article > header h1 a:hover { text-shadow: #888888 0px 0px 1px }
body > article > header h1 a:visited { color: black }
body > article > header time {
    font: 0.8em "Georgia";
    float: right;
}
body > article h2 { font: bold 1.05em "Ropa Sans", sans-serif }
body > article h3,
body > article h4 { font: bold 1em "Ropa Sans", sans-serif }
body > article a {
    text-decoration: none;
    color: #cc0000;
}
body > article a:visited { color: #aa0000 }
body > article a:hover {
    color: #ff190d;
    text-shadow: #ff6666 0px 0px 1px;
}
body > article p { line-height: 1.3em }
body > article dl { padding-left: 16px }
body > article dl dt {
    font-weight: bold;
    color: #444444;
    padding: 6px 92px 3px 0;
    padding-top: 9px;
}
body > article ul {
    padding: 0 0 10px 40px;
    list-style-type: disc;
}
body > article li { padding-top: 3px }
body > article pre,
body > article code {
    font-family: "Droid Sans Mono", sans-serif; 
    font-size: 13px;
}
body > article blockquote {
    border-left: 3pt solid #aaaaaa;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 1em;
    font: italic small Verdana, Times, sans-serif;
    color: #222222;
}
body > article blockquote em { font-weight: bold }
body > article img {
    max-width: 700px;
    margin: 0em 20px;
    box-shadow: 0px 0px 4px black;
}
body > article .amp {
    color: #666666;
    font-family: "Warnock Pro", "Goudy Old Style", "Palatino", "Book Antiqua", serif;
    font-size: small;
    font-style: italic;
}
body > article .caps { font-size: 0.92em }
body > article .highlight {
    border: 1px solid #cccccc;
    padding-left: 1em;
    margin-bottom: 10px;
    margin-top: 10px;
    background: none repeat scroll 0 0 #f0f0f0;
    overflow: auto;
}
body > article > footer p {
    margin: 0 0 0 0;
    font-style: italic;
}
body > article > footer a {
    color: black;
    font-family: Palatino, "times new roman", serif;
    font-weight: bold;
    font-size: 0.95em;
    text-decoration: none;
}
body > article > footer a:hover {
    color: black;
    text-shadow: #a5cc52 0px 0px 1px;
}
body > article > footer a:visited { color: black }
body > article .page {
    margin-top: -20px;
    font: bold medium Palatino, "Times New Roman", serif;
    color: black;
    text-decoration: none;
    border-bottom: 1px dotted black;
}
body > .page {
  margin-top: -20px;
  font: bold medium Palatino, "Times New Roman", serif;
  color: black;
  text-decoration: none;
  border-bottom: 1px dotted black; }
  body > .page:hover {
    text-shadow: #a5cc52 0px 0px 1px; }

#arc { border-collapse: collapse }
#arc th,
#arc td {
    padding-top: 0.4em;
    list-style: none;
    margin: 0;
}
#arc th {
    text-align: right;
    padding: 0.4em 1.75em 0 0;
    vertical-align: baseline;
}
body > footer {
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    font: medium "Ropa Sans", sans-serif;
}
body > footer a {
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px dotted black;
    color: black;
}
body > footer a:hover {
    text-shadow: #a5cc52 0px 0px 1px;
    color: black;
}
.comments a { color: black }
.comments a:hover {
    color: #111111;
    text-shadow: #aaaaaa 0px 0px 1px;
}
.comments a:visited { color: black }
object[type="application/x-shockwave-flash"], iframe.video {
    box-shadow: 0px 0px 12px #777777;
    margin-left: 15px;
    text-align: center;
}
#dsq-content .dsq-avatar { margin-left: -18px; } /* disqus fix */
.shadow { box-shadow: 0px 0px 4px black }
.floatright { float: right }
.floatleft { float: left }

.nav1 {
    -moz-box-shadow:inset 0px 1px 0px 0px #F1C40F;
    -webkit-box-shadow:inset 0px 1px 0px 0px #F1C40F;
    box-shadow:inset 0px 1px 0px 0px #F1C40F;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #F1C40F), color-stop(1, #F1C40F) );
    background:-moz-linear-gradient( center top, #F1C40F 5%, #F1C40F 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F1C40F', endColorstr='#F1C40F');
    background-color:#F1C40F;
    -webkit-border-top-left-radius:5px;
    -moz-border-radius-topleft:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-radius-topright:5px;
    border-top-right-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    -moz-border-radius-bottomright:5px;
    border-bottom-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -moz-border-radius-bottomleft:5px;
    border-bottom-left-radius:5px;
    text-indent:0px;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:25px;
    line-height:25px;
    width:70px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #F1C40F;
}
.nav1:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #F1C40F), color-stop(1, #F1C40F) );
    background:-moz-linear-gradient( center top, #F1C40F 5%, #F1C40F 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F1C40F', endColorstr='#F1C40F');
    background-color:#F1C40F;
}.nav1:active {
    position:relative;
    top:1px;
}

.nav2 {
    -moz-box-shadow:inset 0px 1px 0px 0px #E67E22;
    -webkit-box-shadow:inset 0px 1px 0px 0px #E67E22;
    box-shadow:inset 0px 1px 0px 0px #E67E22;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #E67E22), color-stop(1, #E67E22) );
    background:-moz-linear-gradient( center top, #E67E22 5%, #E67E22 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#E67E22', endColorstr='#E67E22');
    background-color:#E67E22;
    -webkit-border-top-left-radius:5px;
    -moz-border-radius-topleft:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-radius-topright:5px;
    border-top-right-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    -moz-border-radius-bottomright:5px;
    border-bottom-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -moz-border-radius-bottomleft:5px;
    border-bottom-left-radius:5px;
    text-indent:0px;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:25px;
    line-height:25px;
    width:70px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #E67E22;
}

.nav2:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #E67E22), color-stop(1, #E67E22) );
    background:-moz-linear-gradient( center top, #E67E22 5%, #E67E22 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#E67E22', endColorstr='#E67E22');
    background-color:#E67E22;
}.nav2:active {
    position:relative;
    top:1px;
}

.nav3 {
    -moz-box-shadow:inset 0px 1px 0px 0px #E74C3C;
    -webkit-box-shadow:inset 0px 1px 0px 0px #E74C3C;
    box-shadow:inset 0px 1px 0px 0px #E74C3C;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #E74C3C), color-stop(1, #E74C3C) );
    background:-moz-linear-gradient( center top, #E74C3C 5%, #E74C3C 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#E74C3C', endColorstr='#E74C3C');
    background-color:#E74C3C;
    -webkit-border-top-left-radius:5px;
    -moz-border-radius-topleft:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-radius-topright:5px;
    border-top-right-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    -moz-border-radius-bottomright:5px;
    border-bottom-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -moz-border-radius-bottomleft:5px;
    border-bottom-left-radius:5px;
    text-indent:0px;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:25px;
    line-height:25px;
    width:70px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #E74C3C;
}
.nav3:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #E74C3C), color-stop(1, #E74C3C) );
    background:-moz-linear-gradient( center top, #E74C3C 5%, #E74C3C 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#E74C3C', endColorstr='#E74C3C');
    background-color:#E74C3C;
}.nav3:active {
    position:relative;
    top:1px;
}

.nav4 {
    -moz-box-shadow:inset 0px 1px 0px 0px #C0392B;
    -webkit-box-shadow:inset 0px 1px 0px 0px #C0392B;
    box-shadow:inset 0px 1px 0px 0px #C0392B;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #C0392B), color-stop(1, #C0392B) );
    background:-moz-linear-gradient( center top, #C0392B 5%, #C0392B 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#C0392B', endColorstr='#C0392B');
    background-color:#C0392B;
    -webkit-border-top-left-radius:5px;
    -moz-border-radius-topleft:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-radius-topright:5px;
    border-top-right-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    -moz-border-radius-bottomright:5px;
    border-bottom-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -moz-border-radius-bottomleft:5px;
    border-bottom-left-radius:5px;
    text-indent:0px;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:25px;
    line-height:25px;
    width:70px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #C0392B;
}
.nav4:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #C0392B), color-stop(1, #C0392B) );
    background:-moz-linear-gradient( center top, #C0392B 5%, #C0392B 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#C0392B', endColorstr='#C0392B');
    background-color:#C0392B;
}.nav4:active {
    position:relative;
    top:1px;
}

.nav5 {
    -moz-box-shadow:inset 0px 1px 0px 0px #3498DB;
    -webkit-box-shadow:inset 0px 1px 0px 0px #3498DB;
    box-shadow:inset 0px 1px 0px 0px #3498DB;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3498DB), color-stop(1, #3498DB) );
    background:-moz-linear-gradient( center top, #3498DB 5%, #3498DB 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3498DB', endColorstr='#3498DB');
    background-color:#3498DB;
    -webkit-border-top-left-radius:5px;
    -moz-border-radius-topleft:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-radius-topright:5px;
    border-top-right-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    -moz-border-radius-bottomright:5px;
    border-bottom-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -moz-border-radius-bottomleft:5px;
    border-bottom-left-radius:5px;
    text-indent:0px;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:25px;
    line-height:25px;
    width:70px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #3498DB;
}
.nav5:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3498DB), color-stop(1, #3498DB) );
    background:-moz-linear-gradient( center top, #3498DB 5%, #3498DB 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3498DB', endColorstr='#3498DB');
    background-color:#3498DB;
}.nav5:active {
    position:relative;
    top:1px;
}

#hor-minimalist-b
{
	font-family: "Ropa Sans", Sans-Serif;
	font-size: 1.4em;
	background: #fff;
	margin-left: auto;
	margin-right: auto;
	width: 640px;
	border-collapse: collapse;
	text-align: left;
}
#hor-minimalist-b th
{
	font-size: 1.2em;
	font-weight: normal;
	color: #000;
	padding: 14px 12px;
	border-bottom: 4px solid #fff;
}
#hor-minimalist-b td
{
	border-bottom: 1px solid #ccc;
	color: #E67E22;
	padding: 8px 10px;
}
#hor-minimalist-b tbody tr:hover td
{
	color: #E74C3C;
}

